.input-border {
  text-align: start;
}

.input {
  border: 0px solid #ccc;
  text-align: start;
  padding: 0px;
}

.input:focus {
  outline: none;
  box-shadow: none;
}

.hide {
  display: none;
}

.field:hover .hide {
  display: block;
  margin-left: -40px;
}
