.hide {
  display: none;
}

.button-left {
  margin-left: -24px;
  padding-right: 24px;
}

.field:hover .hide .button-right {
  padding-left: 36px;
}

.field:hover .hide {
  display: block;
  width: 100%;
}

.field {
  width: 100%;
}
